<launch>

    <!-- <rosparam file="$(find custom_bringup)/config/costmap_common_params.yaml" command="load"/>
    <rosparam file="$(find custom_bringup)/config/local_costmap_params.yaml" command="load"/> -->

    <!-- define vars -->
    <arg name="use_gui" default="true"/>
    <arg name="robot_model" default="astra" doc="robot_model type [astra,camera]"/>

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find transbot_description)/urdf/transbot_$(arg robot_model).urdf'"/>
           
    <!-- <group if="$(arg use_gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    </group> -->
    <!-- GUI adjustable interface -->

    <!-- <group unless="$(arg use_gui)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    </group> -->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node pkg="transbot_bringup" type="transbot_driver.py" name="transbot_node" required="true" output="screen">
        <param name="imu" value="/transbot/imu"/>
        <param name="vel" value="/transbot/get_vel"/>
    </node>

    <!--##### FOR ODOMETRY #####-->

    <!-- Some errors during calibration of imu installation -->
    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find transbot_bringup)/param/imu/imu_calib.yaml"/>
        <param name="calibrate_gyros" value="true"/>
                <param name="is_multi" value="false"/>
    </node>

    <!-- enable ekf -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <remap from="odometry/filtered" to="odom"/>
        <rosparam command="load" file="$(find transbot_bringup)/param/ekf/robot_localization.yaml"/>
    </node>

    <!-- Filter and fuse imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false">
        <param name="fixed_frame" value="base_link"/>
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="use_magnetic_field_msg" value="false"/>
        <param name="world_frame" value="enu"/>
        <param name="orientation_stddev" value="0.05"/>
        <param name="angular_scale" value="1.08"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link"
      args="0.0 0 0.02 0 0 0  /base_link /imu_link  100"/>

    <!-- launch base node-->
    <node pkg="transbot_bringup" name="base_node" type="base_node">
        <param name="linear_scale" type="double" value="1.2"/>
        <param name="is_multi_robot"  type="bool" value="false"/>
    </node>

    <!-- launch astrapro from their launchfile, too much stuff to copy into here, -->
    <include file="$(find astra_camera)/launch/astrapro.launch">
        <arg name="depth_align" value="true"/>
        <arg name="depth_format" value="Y16"/>
    </include>
    <include file="$(find custom_bringup)/launch/moveit_bridge.launch" />

    <!-- republish raw image to compressed image topic -->
    <node name="image_compressor" pkg="image_transport" type="republish" args="raw in:=/camera/rgb/image_raw compressed out:=/camera/rgb/image_compressed" output="screen" />

    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/points" />
        <remap from="~output" to="/camera/depth/points_downsampled" />
        
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.1
            filter_limit_max: 5.0
            leaf_size: 0.05
        </rosparam>
    </node>


    <!-- add physical offset to camera-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera"
        args="0.08 0 0.10403 -0.05 0 0  /base_link /camera_link  30"/>

    <!-- launch rplidar node | this publishes /scan --> 
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen" respawn="true">
        <param name="serial_port" type="string" value="/dev/rplidar"/>
        <param name="serial_baudrate" type="int" value="115200"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
    </node>

    <!-- add physical offset to lidar-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
          args="-0.03 0 0.13 3.1416 0 0  /base_link /laser  30"/>

    <!-- <node pkg="costmap_2d" type="costmap_2d_node" name="global_costmap">
        <rosparam file="$(find custom_bringup)/config/global_costmap.yaml"/>
        <rosparam file="$(find custom_bringup)/config/costmap_common.yaml"/>
    </node> -->

    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
        <rosparam file="$(find custom_bringup)/config/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find custom_bringup)/config/global_costmap.yaml" command="load" />

        <param name="global_costmap/static_layer/map_topic" value="/map"/>
        <param name="global_costmap/static_layer/subscribe_to_updates" value="true"/>
    </node>

    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find custom_bringup)/config/costmap_common.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find custom_bringup)/config/global_costmap.yaml" command="load" />

        <param name="global_costmap/static_layer/map_topic" value="/map"/>
        <param name="global_costmap/static_layer/subscribe_to_updates" value="true"/>
    </node> -->




    <!-- <node pkg="costmap_2d" type="costmap_2d_node" name="local_costmap" output="screen">
        <rosparam command="load" file="$(find custom_bringup)/config/costmap_common_params.yaml"/>
        <rosparam command="load" file="$(find custom_bringup)/config/local_costmap_params.yaml"/>
        <remap from="scan" to="/scan"/>
    </node> -->

</launch>