<launch>
  <include file="$(find custom_bringup)/launch/custom_bringup.launch" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find custom_bringup)/launch/gmapping.launch" />

  <node pkg="custom_bringup" type="costmap_node.py" name="costmap_global" required="true" output="screen">
  </node>
</launch>