<launch>
  <include file="$(find transbot_config_astra)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false" />
  </include>

  <rosparam file="$(find transbot_config_astra)/config/ros_controllers.yaml" command="load"/>
  
  <node name="move_group" pkg="moveit_ros_move_group" type="move_group" respawn="false" output="screen">
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="request_adapters" value="default_planner_request_adapters/AddTimeParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints"/>
    
    <param name="allow_trajectory_execution" value="true"/>
    <param name="moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
    
    <param name="capabilities" value="move_group/MoveGroupCartesianPathService move_group/MoveGroupKinematicsService move_group/MoveGroupMoveAction move_group/MoveGroupPlanService move_group/MoveGroupStateValidationService move_group/MoveGroupGetPlanningSceneService"/>
  </node>
</launch>